:root {
  display: flex;
  justify-content: center;
}
.myApp {
  border: darkred solid 0.5px;
  width: fit-content;
  display: flow;
  justify-content: center;
}

.container {
  width: fit-content;
  height: fit-content;
  display: grid;
  justify-content: center;

}

img {
  width: 11vmin;
  height: 11vmin;
  transform: rotateY(0deg);
  transition: all 2s;
  opacity: 0;
}

.animateMe {
  transform: rotateY(180deg);
  opacity: 100;
}

.selected {
  animation-name: myAnim;
  animation-duration: 800ms;
  animation-iteration-count: 1;

}

.disabled img {
  pointer-events: none;
  opacity: 100;
}

.noTouching {
  pointer-events: none;
}

.disabled {
  pointer-events: none;
  opacity: 100;
}

@keyframes myAnim {
  from{transform: scale(100%)}
  to{transform: scale(150%)}

}

.picHolder {
  border: tomato solid 1px;
  width: 11vmin;
  height: 11vmin;
}

.buttonHolder {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  border: darkred solid 0.5px;
  border-bottom: rgba(0,0,0,0);
}

.getDimDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}



