
.myApp {
  border: orangered solid 0.5px;
}

.container {
  width: fit-content;
  height: fit-content;
  display: grid;
  justify-content: center;
}

img {
  width: 70px;
  height: 70px;
  transform: rotateY(0deg);
  transition: all 2s;
  opacity: 0;
}

.animateMe {
  transform: rotateY(180deg);
  opacity: 100;
}

.selected {
  animation-name: myAnim;
  animation-duration: 500ms;
  animation-iteration-count: 1;

}

@keyframes myAnim {
  from{transform: scale(100%)}
  to{transform: scale(130%)}

}

.picHolder {
  border: orangered solid 1px;
  width: 70px;
  height: 70px;
}

.getDimDiv {
  display: flex;
  align-items: center;
}



